._*
.AppleDouble
.DS_Store
.env
.eslintcache
.lock-wscript
.LSOverride
.node_repl_history
.npm
.nyc_output
.Spotlight-V100
.Trashes
.yarn-integrity
*.log
*.log*
*.pid
*.pid.lock
*.retry
*.seed
*.tgz
*~
$RECYCLE.BIN/
bower_components
build/Release
coverage
Desktop.ini
ehthumbs.db
Icon
jspm_packages/
lib-cov
logs
node_modules/
pids
Thumbs.db
typings/
recordings/*.wav